@page
@model Heghes_Bogdan_Lab8.Pages.Boardgames.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Boardgame</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boardgame.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boardgame.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boardgame.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boardgame.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boardgame.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boardgame.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boardgame.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boardgame.PublishDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Boardgame.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
