@page
@model Heghes_Bogdan_Lab8.Pages.Boardgames.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Boardgame</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boardgame.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boardgame.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boardgame.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boardgame.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boardgame.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boardgame.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boardgame.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boardgame.PublishDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Boardgame.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
